body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 380px;
    text-align: center;
    padding: 30px;
    border-radius: 12px;
    position: relative;
}

.glass {
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.05);
    box-shadow: 0 8px 30px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.2);
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: none;
    background: #1e293b;
    color: #fff;
    font-size: 15px;
}

button {
    background: #00eaff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #0ea5e9;
}

.subtitle {
    font-size: 14px;
    color: #cbd5e1;
    margin-bottom: 10px;
}

/* Loader */
.loader {
    border: 6px solid #1e293b;
    border-top: 6px solid #00eaff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    animation: spin 1s linear infinite;
    margin-top: 15px;
}

.hidden { display: none; }

@keyframes spin {
    to { transform: rotate(360deg); }
}

/* Progress Bar */
.progress-bar-bg {
    width: 100%;
    height: 15px;
    background: #1e293b;
    border-radius: 8px;
    margin-top: 15px;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: #00ffb3;
    border-radius: 8px;
    transition: width 1s ease;
}

/* Social */
.social {
    margin-top: 20px;
    font-size: 14px;
}

.social a {
    color: #00eaff;
    margin: 0 6px;
    text-decoration: none;
}
